.pagenos {
  /* width: 50%; */
  margin-top: 20px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: calc(40%-100px);
}
.pageno {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-weight: bold;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.pageno_active {
  background-color: rgb(0, 0, 0);
  color: white;
}

.page_btn {
  cursor: pointer;
  display: grid;
  place-items: center;
  height: 33px;
  border-radius: 100%;
  background-color: transparent;
  border: none;
}

.nav_arrow {
  margin-left: 2px;
  width: 20px;
  height: 20px;
}

.nb {
  margin-right: 2px;
  margin-left: 0;
  transform: scaleX(-1);
}

.page_btn:disabled {
  background-color: rgba(128, 128, 128, 0.353);
}
