.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #7db3d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  z-index: 10;
  height: 60px;
  box-sizing: border-box;
}

/* Logo Styling */
.logo {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.nav_links {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
  align-items: center;
}

.navlink_cover {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.nav_link {
  cursor: pointer;
  width: 300px;
  height: 60px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid black;
}

.hl {
  width: 300px;
  height: 3px;
  z-index: 1;
  bottom: 0;
  background-color: aliceblue;
  position: absolute;
  transform: translateX(-100%);
}

.navlink_cover:hover .hl {
  transform: translateX(0);
  transition: all 0.8s ease;
}

.center {
  cursor: pointer;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  position: absolute;
  z-index: 5;
  right: 10px;
  width: 35px;
}

.center:before,
.center:after,
.center div {
  background: #000000;
  content: "";
  display: block;
  height: 4px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
.center_clicked:before {
  transform: translateY(12px) rotate(135deg);
  background: white;
}
.center_clicked:after {
  transform: translateY(-12px) rotate(-135deg);
  background: white;
}
.center_clicked div {
  background: white;
  transform: scale(0);
}

.logout_btn {
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 15px;
  margin-bottom: 30px;
  margin-left: 80px;
  color: white;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.5s ease;
}

.logout_btn:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.nav_links_pc {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 700px) {
  .mobile_nav {
    display: none;
    visibility: hidden;
  }
  .center {
    display: none;
    visibility: hidden;
  }

  .nav_links_pc {
    /* width: 100%; */

    display: block;
    visibility: visible;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* display: grid; */
    background-color: #7db3d1;
  }

  .navlink_cover {
    height: 60px;
    /* background-color: red; */
  }

  .nav_link {
    font-size: 16px;
    background-color: transparent;
    border: none;
    width: 80px;
    height: 60px;
    border-bottom: 3px solid black;
  }

  .hl {
    width: 100px;
  }

  .logout_btn {
    margin: 0 10px;
    width: 100px;
  }
}
